<!DOCTYPE html>
<html lang="en">
<head>
    <title>Create Party</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>

<body ng-app="myApp" ng-controller="partyController">



<div class="party" align="center">
    <h2>
        Create Party<br>
    </h2>

    <button class="createPartyButton" ng-click="addMember()">Add</button>
    <br>

    <div class="container">
        <ul>
            <li ng-repeat="member in members">
                <h3 for="member{{$index}}">Member {{$index+1}}</h3>
                <input type="text" id="member{{$index}}" size="15" ng-model="member.name" >
                <button ng-click="removeMember(member)">Remove</button>
            </li>
        </ul>
    </div>

    <br>
    <button class="createPartyButton" ng-click="continue()">Continue</button>

</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('partyController', function ($scope, $http, $document, $window) {

        $scope.state = JSON.parse(sessionStorage.getItem('state'));

        // $http.get('/apis/gameState').success(function(response) {
        //     $scope.state = response;
        // }).error(function(response) {
        //     console.log("Error getting game state");
        // });

        $scope.members = $scope.state.members;

        $scope.addMember = function () {
            if ($scope.members.length < $scope.state.maxNumPartyMembers) {
                $scope.members.push({
                    name: "",
                    health: 10,
                    food: 5,
                    ailments: [],
                    rations: 1
                })
            } else {
                alert('You can not have more than ' + $scope.state.maxNumPartyMembers + ' party members.')
            }
        };

        $scope.removeMember = function (m) {
            if ($scope.members.length <= 1) {
                alert('You must have at least one party member.');
            } else {
                $scope.members = $scope.members.filter((currMember) => {
                    return currMember !== m;
                });
            }
        };

        $scope.continue = function () {



            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href='/purchasing';
        }

    });

</script>

<button class="help" onclick="window.location.href='/help'"> ? </button>

</body>
</html>