<!DOCTYPE html>
<html lang="en">
<head>
    <title>DayPrompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">

</head>
<body>
<p>Weather:</p>
<p>Health:</p>
<p>Pace:</p>
<p>Rations:</p>
<br>
<p>You may:</p>
<button>Continue Traveling</button>
<button>Check Supplies</button>
<button>Change Pace</button>
<button>Change Food Rations</button>
<button>Stop to Rest</button>
<button>Go to Store</button>
</body>
</html>