<!DOCTYPE html>
<html lang="en">
<head>
    <title>DayPrompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>


<body ng-app="myApp" ng-controller="WorldData" style="background-color:black;">


<div class="bkgrnd">
    <img src="../assets/snow.gif" alt="snow" class="bksnow" style="width: 100%;" align="center">
    <img src="../assets/dogs.png" alt="dogs" class="dogs">
</div>


<div class="dayText">
    <p>Weather: {{state.weather}}</p>
    <p>Pace: {{state.currentPace * state.paceScalar}}</p>
    <p>Days passed: {{state.daysPassed}}</p>
    <p>Distance Traveled: {{state.distance}} miles</p>

    <p>You May:</p>
    <button ng-click='incrementDay(true)'>Start Traveling</button>
    <button ng-click='prospect()'>Mine for Copper</button>
    <button ng-click='inventory()'>Check Inventory</button>
    <button ng-click='viewParty()'>Party Status</button>
    <button ng-click='Rest()'>Stop to Rest</button>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('WorldData', function ($scope, $http, $window) {

        $scope.state = JSON.parse(sessionStorage.getItem('state'));

        if ($scope.state.locationType == 'town') {
            $window.location.href = '/DayPromptTown';
        }

        $scope.updatePace = function () {
            if ($scope.state.dogs < 5) {
                $scope.state.currentPace = $scope.state.dogs;
            } else {
                $scope.state.currentPace = 4;
            }
        };

        $scope.updatePace();

        $http.get('../JSON/weather_events.json').success(function (data, status, headers, config) {
            $scope.weatherEvents = data;
        }).error(function (data, status, headers, config) {
            console.log("Error reading weather_events.json");
        });

        $http.get('../JSON/distance_events.json').success(function (data, status, headers, config) {
            $scope.distanceEvents = data;
        }).error(function (data, status, headers, config) {
            console.log("Error reading distance_events.json");
        });

        $http.get('../JSON/random_events.json').success(function (data, status, headers, config) {
            $scope.randomEvents = data;
        }).error(function (data, status, headers, config) {
            console.log("Error random_events.json");
        });

        $scope.triggerEvent = function () {
            //weather events
            //distance events
            //random events
        };

        $scope.updateHunger = function () {
            $scope.state.members.forEach(function (member) {
                if(!member.food <= 0)
                    member.food--;
                if ($scope.state.items[0].food >= parseInt(member.rations)) {
                    if (member.food === 4 && parseInt(member.rations) === (2)) {
                        member.food++;
                    } else {
                        member.food += parseInt(member.rations);
                    }
                    if (member.food === (5) && member.health <= 10) {
                        member.health++;
                    }
                    $scope.state.items[0].food = $scope.state.items[0].food - parseInt(member.rations);
                }
                if (member.food <= 0 && member.health > 0) {
                    member.health--;
                }
            });
        };

        $scope.incrementDay = function (hasTraveled) {
            if (hasTraveled) {
                $scope.state.distance += Math.floor((Math.random() + .25) * ($scope.state.currentPace * $scope.state.paceScalar));
            }
            console.log("test1");
            $scope.triggerEvent();
            $scope.updatePace();
            $scope.updateHunger();
            $scope.state.daysPassed += 1;
            console.log("test2");
            sessionStorage.setItem('state', JSON.stringify($scope.state));
        };

        $scope.prospect = function () {
            $scope.incrementDay(true);
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/prospecting';
        };

        $scope.viewParty = function () {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/viewparty';
        };

        $scope.Rest = function () {
            $scope.incrementDay(true);
            $scope.state.members.forEach(function (member) {
                if (member.health < 10){
                    member.health++;
                }
            });
        };

        $scope.inventory = function () {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/inventory';
        };

    });

</script>

<button class="help" onclick="window.location.href='/help'"> ? </button>


</body>
</html>