<!DOCTYPE html>
<html lang="en">
<head>
    <title>DayPrompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>


<body ng-app="myApp" ng-controller="WorldData">

<div class="bkgrnd">
    <img src="../assets/snow.gif" alt="snow" class="bksnow" style="width: 100%;" align="center">
    <img src="../assets/dogs.png" alt="dogs" class="dogs">
</div>




<div class="dayText">
<p>Weather: {{state.weather}}</p>
<p>Pace: {{state.pace}}</p>
<p>Distance Traveled: {{state.distance}} miles</p>

<p>You May:</p>
    <button ng-click='returntoday()'>Start to Traveling</button>
    <button ng-click='prospect()'>Mine for Copper</button>
    <button ng-click='inventory()'>Check Inventory</button>
    <button ng-click='Pace()'>Change Pace</button>
    <button ng-click='viewparty()'>Party Status</button>
    <button ng-click='Rest()'>Stop to Rest</button>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('WorldData', function ($scope, $http, $window) {
    $scope.state=JSON.parse(sessionStorage.getItem('state'));
    $scope.returntoday=function() {
        sessionStorage.setItem('state', JSON.stringify($scope.state));
        $window.location.href = '/DayPrompt';
    };
    $scope.prospect=function() {
        sessionStorage.setItem('state', JSON.stringify($scope.state));
        $window.location.href = '/prospecting';
    };
    $scope.Pace=function() {
        sessionStorage.setItem('state', JSON.stringify($scope.state));
        $window.location.href = '/Pace';
    };
    $scope.viewparty=function() {
        sessionStorage.setItem('state', JSON.stringify($scope.state));
        $window.location.href = '/viewparty';
    };
    $scope.Rest=function() {
        sessionStorage.setItem('state', JSON.stringify($scope.state));
        $window.location.href = '/Rest';
    };
    });
</script>
</body>
</html>