<!DOCTYPE html>
<html lang="en">
<head>
    <title>DayPrompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>


</head>
<body ng-app="myApp" ng-controller="WorldData" style="background-color:black;">

<div class="bkgrnd">
    <img src="../assets/snow.gif" alt="snow" class="bksnow" style="width: 100%;" align="center">
    <img src="../assets/town.gif" alt="town" class="town"><br>
</div>


<div class="townText">
    <p>You Are In Town</p>
    <p>Weather: {{state.weather}}</p>
    <p>Pace: {{state.currentPace * state.paceScalar}}</p>
    <p>Distance Traveled: {{state.distance}} miles </p>

<p>You May:</p>
<button ng-click='returntoday()'>Get on the Road</button>
<button ng-click='inventory()'>Check Inventory</button>
<button ng-click="viewParty()">Party Status</button>
<button ng-click='Rest()'>Stop to Rest</button>
<button ng-click='shop()'>Go Shopping</button>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('WorldData', function ($scope, $http,$window) {
        $scope.state=JSON.parse(sessionStorage.getItem('state'));

        if ($scope.state.dogs < 5 ) {
            $scope.state.currentPace = $scope.state.dogs;
        } else {
            $scope.state.currentPace = 4;
        }

        $scope.returntoday=function() {
            $scope.state.locationType = 'wild';
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/DayPrompt';
        };
        $scope.inventory=function() {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/inventory';
        };
        $scope.viewParty=function() {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/viewparty';
        };
        $scope.shop=function() {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/shop';
        };
        $scope.Rest=function() {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/Rest';
        }

    });
</script>
</body>
</html>