<!DOCTYPE html>
<html lang="en">
<head>
    <title>DayPrompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>


</head>
<body ng-app="myApp" ng-controller="WorldData">

<div class="imgcontainer" align="center">
    <img src="../assets/town.png" alt="town" class="town">
</div>

<p>Weather:{{state.weather}}</p>
<p>Pace:{{state.pace}}</p>
<p>Distance Traveled: {{state.distance}} miles </p>


<br>

<p>You may:</p>
<button onclick="window.location.href='/DayPrompt'">Start Traveling</button>
<button onclick="window.location.href='/inventory'">Check Inventory</button>
<button>Change Pace</button><!-- make popup window-->
<button onclick="window.location.href='/viewparty'">Party Status</button>
<button>Stop to Rest</button><!-- make popup window-->
<button onclick="window.location.href='/shop'">Go Shopping</button>

<script>
    var app = angular.module('myApp', []);
    app.controller('WorldData', function ($scope, $http) {
        $scope.state={
            weather:'clear',
            pace:'brisk',
            distance:'0',

        }
    });
</script>
</body>
</html>