<!DOCTYPE html>
<html lang="en">
<head>
    <title>DayPrompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="WorldData">
<div class="imgcontainer">
    <img src="../assets/dogs.png" alt="dogs" class="dogs">
</div> <!-- Adding picture of dogs for day animation -->

<p>Weather: {{state.weather}}</p>
<p>Pace: {{state.pace}}</p>
<p>Distance Traveled: {{state.distance}}</p>
<p>Health:</p>
<div class="member">
    <ul>
        <li ng-repeat= "member in state.members">
            <h2> {{member.name}}:{{member.health}}</h2>

        </li>
    </ul>
</div>

<p>You may:</p>
    <button onclick="window.location.href='/DayAnimation'">Start Traveling</button>
    <button>Go Prospecting</button>
    <button onclick="window.location.href='/Inventory'">Check Inventory</button>
    <button>Change Pace</button><!-- make popup window-->
    <button>View Party</button>
    <button>Stop to Rest</button><!-- make popup window-->

<script>
    var app = angular.module('myApp', []);
    app.controller('WorldData', function ($scope, $http) {
        $scope.state={
            weather:'clear',
            pace:'brisk',
            distance:'0',
            members: [{name:'driver',health:'10'},{name:'Mikey',health:'10'}]

        }
    });
</script>
</body>
</html>