<!DOCTYPE html>
<html lang="en">
<head>
    <title>DayPrompt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>


</head>
<body ng-app="myApp" ng-controller="WorldData">
<p>Weather:{{state.weather}}</p>
<p>Pace:{{state.pace}}</p>
<p>Distance Traveled: {{state.distance}} </p>

<p>Health:</p>
<div class="member">
    <ul>
        <li ng-repeat= "member in state.members">
            <h2> {{member.name}}:{{member.health}}</h2>

        </li>
    </ul>
</div>

<br>

<p>You may:</p>
<button onclick="window.location.href='/DayAnimation'">Start Traveling</button>
<button onclick="window.location.href='/inventory'">Check Inventory</button>
<button>Change Pace</button>
<button>Change Food Rations</button>
<button>Stop to Rest</button>
<button onclick="window.location.href='/shop'">Go Shopping</button>

<script>
    var app = angular.module('myApp', []);
    app.controller('WorldData', function ($scope, $http) {
        $scope.state={
            weather:'clear',
            pace:'brisk',
            distance:'0',
            members: [{name:'driver',health:'10'},{name:'Mikey',health:'10'}]

        }
    });
</script>
</body>
</html>