<!DOCTYPE html>
<html lang="en">
<head>
    <title>death</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>


</head>
<body>

<div class="imgcontainer" align="center">
    <img src="../assets/died.gif" alt="died" class="died">
</div>
<button class="deathButton" onclick="window.location.href='/'" >Try Again</button>
</body>
</html>