<!DOCTYPE html>
<html>
<head>
    <title>Select Difficulty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

<div class="difficulty" align="center">

    <h2>
        Select Difficulty
        <br>
    </h2>

    <h3>
        Prospective Student<br>
    </h3>
    <p>
        Starts off with [] copper.<br>
        Get 1x points per surviving party member.<br>
        <button class="difficultyButton" onclick="window.location.href='/createparty'">Select</button><br>
    </p>

    <h3>
        Undergraduate<br>
    </h3>
    <p>
        Starts off with [] copper.<br>
        Get 2x points per surviving party member.<br>
        <button class="difficultyButton" onclick="window.location.href='/createparty'">Select</button><br>
    </p>
    <h3>
        Graduate<br>
    </h3>
    <p>
        Starts off with [] copper.<br>
        Get 3x points per surviving party member.<br>
        <button class="difficultyButton" onclick="window.location.href='/createparty'">Select</button><br>
    </p>

</div>

</body>
</html>