<!DOCTYPE html>
<html>
<head>
    <title>Select Difficulty</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

<div class="difficulty">

    <h1>
        Select Difficulty
        <br>
        <br>
    </h1>

    <h2>
        Prospective Student<br>
    </h2>
    <p>
        Starts off with [] copper.<br>
        Get [] points per surviving party member.<br>
        <button onclick="window.location.href='/party'">Select</button><br>
    </p>

    <h2>
        Undergraduate<br>
    </h2>
    <p>
        Starts off with [] copper.<br>
        Get [] points per surviving party member.<br>
        <button onclick="window.location.href='/party'">Select</button><br>
    </p>
    <h2>
        Graduate<br>
    </h2>
    <p>
        Starts off with [] copper.<br>
        Get [] points per surviving party member.<br>
        <button onclick="window.location.href='/party'">Select</button><br>
    </p>

</div>

</body>
</html>