<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
<p>1. Buying Goods - You will need to buy a few things in order to survive the harsh U.P. climate. You have a currency, copper, that you can buy items with.</p>
<ul style="list-style-type:circle;">
    <li>Dogs are used to pull your sled. You should always try to keep four in use at all times to increase your speed, aka pace. Have some extra dogs just in case. </li>
    <li></li>
    <li></li>
</ul>
</body>
</html>