<!DOCTYPE html>
<html>
<head>
    <title>Keweenaw Trails</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

<div class="container>">
    <h2>Keweenaw Trail</h2>

    <div class="imgcontainer" align="center">
        <img src="../assets/logo.png" alt="logo" class="logo">
    </div>
    <div align="center">
        <button class="homeButton" onclick="window.location.href='/difficulty'"> Begin Your Adventure </button>
        <button class="homeButton"> Settings </button>
    </div>

</div>


</body>
</html>