<!DOCTYPE html>
<html lang="en">
<head>
    <title>Prospecting</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
</head>



<div class="prosImages">
    <img src="../assets/prosBk.png" alt="red" class="red" style="width: 100%;" align="center">
    <img src="../assets/prospecting.png" alt="prospecting" class="prospecting" style="width: 60%;" align="center">
</div>
<body ng-app="myApp" ng-controller="prospecting">

<div class="prosText">
    <button ng-click='returntoday()'>Get back on the road</button>
    <p>Copper: {{state.money}}</p>
    <p>Tagline: {{output}}</p>
</div>

<script>
    var app = angular.module('myApp', []);
    app.controller('prospecting', function ($scope, $http, $window) {
        $scope.state = JSON.parse(sessionStorage.getItem('state'));
        $scope.results = {
            win: 20,
            bigwin: 40,
            lose: 0

        };
        var Computer = Math.random() * 50;
        var Human = Math.random() * 100;
        if (Human > 91) {
            $scope.state.money += $scope.results.bigwin;
            $scope.output = 'You struck a vein and found a lot of copper.';
        } else if (Human > Computer) {
            $scope.state.money += $scope.results.win;
            $scope.output = 'Had yourself a day at the mines and took home some copper';
        } else {
            $scope.state.money += $scope.results.lose;
            $scope.output = 'You cant win them all, you found no copper';
        }

        $scope.returntoday = function () {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/DayPrompt';
        };
    });
</script>
</body>
</html>