<!DOCTYPE html>
<html>
<head>
    <title>Purchasing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>

</head>
<body ng-app="myApp" ng-controller="shopController">
<div class="imgcontainer" align="center">
    <img src="../assets/vendor.png" alt="vendor" class="vendor">
</div>

<label for="foodTxtBx">Food: ${{prices.food}} per pound</label>
<input type="text" id="foodTxtBx"><br>
<label for="dogTxtBx">Huskies: ${{prices.dogs}} per husky</label>
<input type="text" id="dogTxtBx"><br>
<label for="sledTxtBx">Spare Sled Parts: ${{prices.sled}} per part</label>
<input type="text" id="sledTxtBx"><br>
<label for="clothesTxtBx">Clothes: ${{prices.clothes}} per hat that covers your ears</label>
<input type="text" id="clothesTxtBx"><br>

<script>
    var app = angular.module('myApp', []);
    app.controller('shopController', function ($scope, $http) {
        $http.get('../JSON/shop.json').success(function(data, status, headers, config) {
            $scope.prices = data;
        }).error(function(data, status, headers, config) {
            console.log("Error reading shop.json");
        });
    });
</script>

<button onclick="window.location.href='/introduction'">Finish</button>

</body>
</html>