<!DOCTYPE html>
<html>
<head>
    <title>Purchasing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="../js/constants.js"></script>
</head>
<body ng-app="myApp" ng-controller="shopController">
<div class="imgcontainer" align="center">
    <img src="../assets/vendor.png" alt="vendor" class="vendor">
</div>


<label for="foodTxtBx">Food: ${{prices.food}} per pound</label>
<input type="text" id="foodTxtBx" ng-model="state.items[0].food"><br>
<label for="dogTxtBx">Huskies: ${{prices.dogs}} per husky</label>
<input type="text" id="dogTxtBx" ng-model="state.dogs"><br>
<label for="sledTxtBx">Spare Sled Parts: ${{prices.sled}} per part</label>
<input type="text" id="sledTxtBx" ng-model="state.items[2].sledParts"><br>
<label for="clothesTxtBx">Clothes: ${{prices.clothes}} per hat that covers your ears</label>
<input type="text" id="clothesTxtBx" ng-model="state.items[1].clothes"><br>

<script>
    var app = angular.module('myApp', []);
    app.controller('shopController', function ($scope, $http, $window) {
        $scope.state = JSON.parse(sessionStorage.getItem('state'));
        $http.get('../JSON/shop.json').success(function (data, status, headers, config) {
            $scope.prices = data;
        }).error(function (data, status, headers, config) {
            console.log("Error reading shop.json");
        });

        $scope.navigateParty = function () {
            sessionStorage.setItem('state', JSON.stringify($scope.state));
            $window.location.href = '/introduction'
        }
    }).directive("limitTo", [function () {
        return {
            restrict: "A",
            link: function (scope, elem, attrs) {
                var limit = parseInt(attrs.limitTo);
                angular.element(elem).on("keypress", function (e) {
                    if (this.value.length === limit) e.preventDefault();
                });
            }
        };
    }]).directive('digitsOnly', function () {
        return {
            require: 'ngModel',
            link: function link(scope, element, attrs, ngModel) {
                ngModel.$parsers.push(function (value) {
                    var numbers = value.replace(/\D/g, '');
                    element.val(numbers);
                    return numbers;
                });
            }
        };
    });
</script>

<button ng-click="navigateParty()">Finish</button>

</body>
</html>