<!DOCTYPE html>
<html lang="en">
<head>
    <title>Introduction</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body ng-app="myApp" ng-controller="intro" style="background-color:black;">
    <div class="img">
        <img src="../assets/snow.gif" alt="snow" style="width: 100%;">
            <div class="text">
                <div align="center">
                    <p class="text">The year is 1901. You're on your way to the Michigan College of Mines, how exciting! You have a perilous journey ahead of you filled with many obstacles and unforeseen events.</p><br>
                    <p class="text">Don't worry, it's not all bad news. As you make your way through the U.P. you may obtain copper that can be sold to the many towns and vendors. You'll arrive at your destination before you know it, and if you're lucky you might have enough copper to afford tuition! If you ever need help, just click the question mark in the upper left-hand side.</p><br>
                    <p class="text">Good luck and dogspeed...</p><br>
                    <button onclick="window.location.href='/DayPromptTown'">Go to day prompt</button>
                </div>

            </div>
    </div> <!-- Adding intro snow animation -->

    <button class="help" onclick="window.location.href='/help'"> ? </button>

</body>
</html>